body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: flex;
    gap: 20px;
}